<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--Dao-->
    <context:property-placeholder location="classpath:db.properties"/>
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="driverClass" value="${jdbc.driver}"/>
    </bean>
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.bestbigkk.music.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSession"/>
    </bean>

    <!--Spring-->
    <mvc:annotation-driven/>
    <context:annotation-config/>
    <context:component-scan base-package="com.bestbigkk.music"/>
    <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="transactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!--AOP-->
    <aop:aspectj-autoproxy/>

    <!--SpringMVC-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="contentType" value="text/html;charset=utf8"/>
        <property name="prefix" value="/WEB-INF/views/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/"/>
            <bean class="com.bestbigkk.music.interceptor.RequestInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


    <!--定时任务-->
    <task:annotation-driven/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--100MB-->
        <property name="maxUploadSize" value="102400000"/>
    </bean>

    <mvc:resources mapping="/resource/**" location="./static/resources/"/>

    <!--Domain-->
    <bean id="JSONObject" class="com.alibaba.fastjson.JSONObject" scope="prototype"/>
    <bean id="JSONArray" class="com.alibaba.fastjson.JSONArray" scope="prototype"/>
    <bean id="fileStore" class="com.bestbigkk.music.service.common.FileStore">
        <property name="prefixMappingPath" value="/resource"/>
        <property name="resourceRootPath" value="/static/resources"/>
    </bean>
    <bean id="appConfig" class="com.bestbigkk.music.AppConfig">
        <property name="defaultImagePath" value="/resource/app-images/logo.png"/>
    </bean>
</beans>