header{
    width: 100%;
    height: 6rem;
    background: #ededed;
    box-shadow: #ccc 0px 0px 5px;
}
header h1{
    line-height: 6rem;
    font-weight: bold;
    font-style: italic;
    color: #333;
    padding: 0 2rem;
    user-select: none;
    text-shadow: #cccccc 0px 0px 1px;
    transition: all linear 200ms;
    display: inline-block;
}
header h1:hover{
    color: black;
}
#op{
    float: right;
    margin: 2rem 1rem;
}
header + div{
    width: 100%;
    min-height: 50rem;
}
aside, #content{
    display: inline-block;
}
aside{
    width: 15rem;
    height: 100%;
    padding:  0 .5rem;
    vertical-align: top;
}
#logo{
    width: 60%;
    display: block;
    height: auto;
    border-radius: 50%;
    box-shadow: #ccc 0px 0px 5px;
    border: #5f9df5 3px solid;
    margin: 2rem auto;
}
#menus{
    list-style: none;
    text-align: center;
    color: #616161;
}
#menus li{
    user-select: none;
    border-bottom: whitesmoke 1px solid;
    padding: .7rem .2rem;
    transition: all linear 200ms;
}
.select{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #d2d2d2;
}
#menus li:hover{
    color: #171717;
    background: whitesmoke;
}
#content{
    height: 100%;
    width: 80rem;
    margin: 0 auto;
}
#accountInfo{
    width: 25rem;
    height: 30rem;
    text-align: center;
    margin: 5rem auto;
    padding: 2rem 4rem 1rem 2rem;
    background: whitesmoke;
    border-top: dodgerblue 10px double;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    user-select: none;
}
#accountInfo #code .el-input{
    display: inline-block;
    width: 60%;
}
#code{

}
#verifyCode{
    text-align: center;
}
#verifyCode img{
    width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 3px;
    margin: .5rem auto;
}
#verifyCode .el-button{
    margin: .5rem auto;
}
#hiddenForm{
    display: none;
}